body {
    background-color: rgb(175, 175, 219);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container {
    background-color: rgb(255, 255, 255);
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color:rgb(129, 130, 210);
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.nav a {
    display: inline-block;
    margin-bottom: 10px;
    background-color: rgb(146, 68, 255);
    text-decoration: none;
    color: aliceblue;
    padding: 8px 15%;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(213, 180, 244);
    color: black;
    text-decoration: underline;
}

nav a:active {
    background-color: red;
}

nav a:visited {
    color: rgb(238, 255, 0);
} */

.brief {
    text-align: justify;
    font-size: 13px;
}

.biodata {
    font-size: 15px;
}

.bagidua {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bagidua div {
    text-align: center;
    align-content: center;
}



